/* styles.css */
#loading{
    width: 100%;
    height: 100vh;
    background: #fff url('Rolling-1s-200px.gif')
    no-repeat center center;	
   z-index: 99999;
}
#map-container {
    position: relative;
    width: 1404px;
    height: 846px; /* Adjust the maximum width as needed */
    margin: 0 auto;
}

#map-image {
    max-width: 100%;
}
/* Style for the buttons/markers */
.marker {
    position: absolute;
    background-color:black; /* Adjust the color as needed */
    width: 30px; /* Adjust the button size as needed */
    height: 30px;
    border-radius: 50%; /* Makes it circular */
    cursor: pointer;
    padding:  2px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out,background-color 0.3s;
    border: 1px solid white;
}

.marker:hover {

    transform: scale(1.4);/* Change the color for hover as needed */
    border: 1px solid white;
}

/* Initially hide the fa-shake icon */
.marker .fa-flip{
    display: none;
}

/* Show the fa-beat icon by default */
.marker:hover .fa-beat-fade {
    display: none;
}

/* Show the fa-shake icon when hovered */
.marker:hover .fa-flip{
    padding:  3px 0;
    display: block;
}

/* Change color on click */

#bottom-text {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-right: 5px;
    color: white;
    text-align: center;
    font-family: 'Playfair Display'; /* Change the font family as needed */
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
    
}

/* Marker 1 */
.marker1 {
    top: 70px;
    left: 175px;
}

/* Marker 2 */
.marker2 {
    top: 250px;
    left: 50px;
   
}

/* Marker 3 */
.marker3 {
    top: 700px;
    left: 450px;
    border: none;
    background-color: white;
    padding:  2.5px 0;
}

/* Marker 4 */
.marker4 {
    top: 700px;
    left: 730px;
    background-color: white;
    padding:  2.5px 0;
}

/* Marker 5 */
.marker5 {
    top: 650px;
    left: 1000px;
}

/* Marker 6 */
.marker6 {
    top: 200px;
    left: 1307px;
    background-color: black;
}

/* Marker 7 */
.marker7 {
    top: 440px;
    left: 1250px;
    background-color: white;
}

/* Marker 8 */
.marker8 {
    top: 630px;
    left: 1290px;
    background-color: rgb(17,84,143);
    
}

/* Marker 9 */
.marker9 {
    top: 675px;
    left: 1210px;
    background-color: rgb(17,84,143);
    
}

/* Marker 10 */
.marker10 {
    top: 715px;
    left: 1130px;
    background-color:rgb(139,0,0);
}

/* Marker 11 */
.marker11 {
    top: 35px;
    left: 320px;

  
}

/* Marker 12 */
.marker12 {
    top: 300px;
    left: 50px;
    
}

/* Marker 13 */
.marker13 {
    top: 185px;
    left: 430px;
}

/* Marker 14 */
.marker14 {
    top: 310px;
    left: 855px;
   
}

/* Marker 15 */
.marker15 {
    top: 110px;
    left: 1215px;
    background-color: black;
}

/* Marker 16 */
.marker16 {
    top: 295px;
    left: 1330px;
    width: 20px; /* Adjust the button size as needed */
    height: 20px;
    background-color: white;
    border: 3px solid green;

}

/* Marker 17 */
.marker17 {
    top: 585px;
    left: 1133px;
    background-color: rgb(17,84,143);
    
}

/* Marker 18 */
.marker18 {
    top: 630px;
    left: 1210px;
    background-color: rgb(17,84,143);
   
}

/* Marker 19 */
.marker19 {
    top: 675px;
    left: 1290px;
    background-color: rgb(17,84,143);
    
  
}

/* Marker 20 */
.marker20 {
    top: 750px;
    left: 1130px;
    background-color:rgb(139,0,0);
    
}

/* Marker 21 */
.marker21 {
    top: 35px;
    left: 370px;
   
}

/* Marker 22 */
.marker22 {
    top: 440px;
    left: 145px;
}

/* Marker 23 */
.marker23 {
    top: 640px;
    left: 560px;
    background-color: black;
    padding:  2.5px 0;
}

/* Marker 24 */
.marker24 {
    top: 135px;
    left: 925px;
}

/* Marker 25 */
.marker25 {
    top: 110px;
    left: 1305px;
    background-color: black;
    border: black;
}

/* Marker 26 */
.marker26 {
    top: 350px;
    left: 1350px;
   
}

/* Marker 27 */
.marker27 {
    top: 585px;
    left: 1210px;
    background-color: rgb(17,84,143);

}

/* Marker 28 */
.marker28 {
    top: 630px;
    left: 1133px;
    background-color: rgb(17,84,143);
    
}

/* Marker 29 */
.marker29 {
    top: 715px;
    left: 1290px;
    background-color:rgb(139,0,0);
}

/* Marker 30 */
.marker30 {
    top: 750px;
    left: 1290px;
    background-color:rgb(139,0,0);
    
}

/* Marker 31 */
.marker31 {
    top: 35px;
    left: 420px;
   
}

/* Marker 32 */
.marker32 {
    top: 645px;
    left: 175px;
}

/* Marker 33 */
.marker33 {
    top: 200px;
    left: 660px;
}

/* Marker 34 */
.marker34 {
    top: 385px;
    left: 1010px;
}

/* Marker 35 */
.marker35 {
    top: 200px;
    left: 1214px;
    background-color: black;
}

/* Marker 36 */
.marker36 {
    top: 310px;
    left: 1235px;
  
    
}

/* Marker 37 */
.marker37 {
    top: 585px;
    left: 1290px;
    background-color: rgb(17,84,143);
    
}

/* Marker 38 */
.marker38 {
    top: 675px;
    left: 1133px;
    background-color: rgb(17,84,143);
    
}

/* Marker 39 */
.marker39 {
    top: 715px;
    left: 1210px;
    background-color:rgb(139,0,0);
}

/* Marker 40 */
.marker40 {
    top: 750px;
    left: 1210px;
    background-color:rgb(139,0,0);
}





#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Set the width to your desired fixed value */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: hidden;
}

#popup-card {
    background-color: #fff;
    height: 400px; /* Set the height to your desired fixed value */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
}

#popup-left {
    width: 60%;
    padding-right: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup-image {
    max-width: 100%;
    max-height: 100%; /* Ensure the image takes full height of the left side */
    vertical-align: middle;
    border: 2px solid #333;
    
}

#popup-right {
    width: 40%;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    padding: 10px;
}


/* Style for image navigation buttons */
#image-nav {
    margin-top: 10px;
}
#popup-non-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.popup-non-image-content {
    padding: 20px;
}


/* #prev-image-btn,
#next-image-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
} */

#prev-image-btn {
    background-image: url('left-arrow.png');
    background-color: #b3afaf;
    color: black;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;

}

#next-image-btn {
    background-image: url('right-arrow.png');
    background-color: #b3afaf;
    color: black;
    border: none; 
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%; 
}


#popup-close-btn {
    position: absolute;
    top: 10px; /* Adjust the top position as needed for spacing */
    right: 10px; /* Adjust the right position as needed for spacing */
    font-size: 1.5rem;
    cursor: pointer;
}
/* Style for the close button */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333; /* Change the color to match your design */
}




/* Custom CSS for fixed left column (image) and scrollable right column (description) */
.modal-body {
    display: flex;
    padding-top: 0;
}
.modal-image {
    flex: 1;
    padding: 20px;
}
.modal-header{
    border: none;
    padding-top: 20px;
}
.modal-description {
    flex: 2;
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    max-width: 50%; /* Example: Set the width to 50% of the modal body */
}
.modal-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: rgb(98,97,100) /* Color of the scrollbar thumb (change as needed) */
    border-radius: 10px; /* Rounded corners on the scrollbar thumb */
}

/* Scrollbar Track when hovering over it */
::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.5); /* Color when hovering over the scrollbar track (change as needed) */
}

.wrapper {
    /* position: relative; */
    padding-bottom: 56.25%; /* 16:9 */
    /* padding-top: 25px; */
    height: 0;
}
.wrapper iframe {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 20px;
}




